/* Start general Rouls */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
ul {
    list-style-type: none;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 /50%);
}
.heading-text {
    text-align: center;
    position: relative;
}
.heading-text h2 {
    margin-bottom: 60px;
    position: relative;
    font-size: 40px;
    font-weight: normal;
}
.heading-text h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 120px;
    background-color: black;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.heading-text h2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}
.heading-text p {
    color: #777;
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px;
    line-height: 2;
}
/* End general Rouls */


/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 200px);
    left: 100px;
}
header .container .logo {
    height: 40px;
}
header .container nav {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav ul {
    display: flex;
}
header .container nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    z-index: 2;
}
header .container nav ul li a.active ,
header .container nav ul li a:hover {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
}
header .container nav .form {
    width: 40px;
    height: 30px;
    margin-left: 20px;
    border-left: 1px solid white;
}
header .container nav .form i {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* End Header */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}
.landing .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text p {
    font-size: 14px;
    line-height: 2;
}
.landing .change-background {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.landing .fa-angle-left {
    left: 20px;
}
.landing .fa-angle-right {
    right: 20px;
}
.landing .dots{
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
}
.landing .dots li {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 15px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.landing .dots li .active {
    background-color: var(--main-color);
}
/* End Landing */
/* Start SERVICES */
.services .box-service {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
.services .box-service .box {
    display: flex;
}
.services .box-service .box i {
    flex: 1;
}
.services .box-service .box .box-text {
    margin-left: 30px;
}
.services .box-service .box .box-text h3 {
    color: var(--main-color);
    margin-bottom: 20px;
}
.services .box-service .box .box-text p {
    line-height: 2;
    color: #777;
}
/* End SERVICES*/
/* Start DESIGN  */
.design {
    height: 600px;
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design .mobile img {
    position: absolute;
    left: 200px;
    bottom: -90px;
}
.design .text {
    position: absolute;
    background-color: var(--transparent-color);
    color: white;
    width: 50%;
    max-width: 100%;
    padding: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.design .text h2 {
    font-weight: normal;
    margin-bottom: 50px;
}
.design .text ul li {
    margin-bottom: 30px;
}
.design .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End DESIGN  */
/* Start PORTFOLIO */
.portfolio {
    position: relative;
}
.portfolio .list {
    display: flex;
    justify-content: center;
}
.portfolio .list li {
    font-size: 17px;
    padding: 15px;
}
.portfolio .list li.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .box-img {
    display: flex;
    flex-wrap: wrap;
}
.portfolio .box-img .img-content{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}
.portfolio .box-img .img-content:hover .cap {
    bottom: 0;
}
.portfolio .box-img .img-content img {
    max-width: 100%;
}
.portfolio .box-img .img-content .cap {
    position: absolute;
    padding: 10px;
    height: 70px;
    left: 0;
    bottom: -100px;
    background-color: white;
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.portfolio .box-img .img-content .cap h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .box-img .img-content .cap p {
    color: var(--main-color);
}
.portfolio .more {
    position: absolute;
    left: 50%;
    margin-top: 40px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 30px;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
/* End PORTFOLIO */
/* Start video */
/* End video */